body {
    font-family: Arial, sans-serif;
    background-color: #9faef1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #b7adf0;
    padding: 30px;
    border-radius: 320px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(125, 125, 150, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #e4dede;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
    color: #e4dede;
}

input {
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #241a5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1f5edb;
}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #e4dede;
}

a {
    color: #dbd8ec;
    text-decoration: none;
}

.botao-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #1f5edb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
}

.botao-link:hover {
    background-color: #1f5edb;
}