* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI' Arial, sans-serif;
    background-color: #0f172a;
    color: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #1e293b;
    padding: 40px;
    border-radius: 12px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h1, h2 {
    text-align: center;
    color: #e4dede;
}

label {
    
    font-size: 14px;
    color: #94a3b8;
}

input {
    padding: 10px;
    border: 1px solid #334155;
    border-radius: 8px;
    background-color: #0f172a;
    color: #f1f5f9;
}

input:focus {
    outline: none;
    border-color: #3b82f6;

}

button {
    margin-top: 25px;
    padding: 12px;
    background-color: #241a5f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;

}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #e4dede;
}

a {
    color: #3b82f6;
    text-decoration: none;
}

a:hover {
    color: #2563eb;
}

.botao-link {
    display: inline-block;
    margin-top: 15px;
    padding: 12px;
    background-color: #3b82f6;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    transition: 0.2s;
}

.botao-link:hover {
    background-color: #2563eb;
}