* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI' Arial, sans-serif;
    background-image: linear-gradient(rgba(15,23,42,0.8), rgba(15,23,42,0.8)), url("img/fundo-site.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form {
    background-color: rgba(15, 23, 42, 0.9);
    padding: 40px;
    border-radius: 12px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 40px auto;
}

h1, h2 {
    text-align: center;
    color: #e4dede;
}

label {
    font-size: 14px;
    color: #94a3b8;
}

input {
    padding: 10px;
    border: 1px solid #334155;
    border-radius: 8px;
    background-color: #0f172a;
    color: #f1f5f9;
}

input:focus {
    outline: none;
    border-color: #3b82f6;

}

button {
    margin-top: 25px;
    padding: 12px;
    background-color: #241a5f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;

}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #e4dede;
}

a {
    color: #3b82f6;
    text-decoration: none;
}

a:hover {
    color: #2563eb;
}

.botao-link {
    display: inline-block;
    margin-top: 15px;
    padding: 12px;
    background-color: #3b82f6;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    transition: 0.2s;
}

.botao-link:hover {
    background-color: #2563eb;
} 

ol {
    max-width: 500px;
    margin: 30px auto;
}

h1 {
    margin-top: 40px;
}

.glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;

    padding: 40px;
    width: 320px;

    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 12px;
}



